<%- include('common/header.ejs') %>
  
  <div class="container empty-background">
    <nav class="nav">
      <p class="title">용계역 여행</p>
      <div class="sub-title">사용자 페이지</div>
    </nav>
      <div class="introduce-content-wrap">
        <div>
          <a href="/login">로그인하기</a>
        </div>
    </div>
  </div>

  <%- include('common/footer.ejs') %>
  </body>
</html>